{% extends "advert_base.html" %}
{% block content %} 
    <img src="static/ContestBanner.gif" alt=""/>
    <img src="static/NewReleases.gif" alt=""/>
    <img src="static/TradeInBanner.gif" alt=""/>

     <table width="457" border="1" cellspacing="2" cellpadding="2">
 
    <tr><th width="100" rowspan="5"><strong>Music</strong></th></tr>
<tr><td width="107" rowspan="2">Bruce Springsteen</td>
  <td width="87" rowspan="4"><strong>Games</strong></td>
  <td width="127">Con of Duty 32</td>
</tr>
<tr>
  <td>Sleeping Dogs Lie</td>
</tr>
<tr><td>Aerosmith</td>
  <td width="127">Zombie Resort 4</td>
  </tr>
<tr><td>Blind Pilot</td>
  <td width="127">YouMadden 13</td>
  </tr>
<tr><th rowspan="5"><strong>DVDs</strong></th></tr>
<tr><td>Rambo 3</td>
  <td rowspan="4"><strong>Top Preorders</strong></td>
  <td>Exploder: Official Soundtrack</td>
</tr>
<tr><td>Exploder</td>
  <td>Lost: Season 110</td>
  </tr>
<tr><td>Capacitors: Fall of the Risen</td>
  <td>Mega Lion vs Giant Iguana</td>
  </tr>
<tr><td>Apollo 39</td>
  <td>Grand Theft Bicycle</td>
  </tr>
</table>
<img src="static/FallSaleBannerPromo.gif" alt="It's a sale!"/>
{% endblock %}
