<!DOCTYPE/ PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/; charset=utf-8" />
<title>F.Y.H. - Music, Movies, Games, and more!</title>
<style type="text/css">
@import url("/static/style.css");
</style>
</head>

<body>

<div class="container">
<div class="headertable" id="HeaderLinks">
  	{% if usergreet %}
        <FONT COLOR="white">{{usergreet}}</FONT>
    {% else %}
        <a href="/account/login/">Login</a>
    {% endif %}
    <a href="/cart/">Cart</a>
    <a href="/accounts/">My Account</a>
    <a href="/track/">Order Status</a>
    <a href="/wishlist/">Wishlist</a>
    <a href="/help/">Help</a>
    {% if usergreet %}
        <a href="/account/logout/">Logout</a>
    {% endif %}
    </div>

  <div class="header"><a href="/"><img src="/static/logo.gif" alt="" name="logo" width="163" height="81" id="logo" style="background-color: #C6D580; display:block;" /></a> 



</div>
  <div class="sidebar1">
     <ul class="nav" >
      <li><a>Enter now!</a>
      <img src="/static/winstuff.gif" alt="Win free* stuff!" width="125" height="120"/></li>
      <li><a>Buy 2 get 1 free</a><img src="/static/buy20.gif" alt="Buy 20 Get 1 free!"/></li>
      <li><a>Follow us!</a> <img src="/static/followus.gif" alt="Follow us!"/></li>
      <li><a>Contests galore!</a><img src="/static/Contests!.gif" alt="Win free stuff!"/></li>
      <li><a>Search stuff!</a></li>
      <li><p>
      <form action="/search/?{{term}}" method="get">
      {% csrf_token %}
      Search for:  <input type="text" name="q"/>
	 <input type="submit" value="Submit"/>
     <input type="reset"/></p></li></ul>
    </form> 
    </div>
    
    <div class="itemlink" align="right">
        <form action="/search/?{{term}}" method="get">                            
            {% csrf_token %}                                                          
            Search for:  <input type="text" name="q"/>                                
            <input type="submit" value="Submit"/>                                      
            <input type="reset"/></p></li></ul>                                        
        </form>  
        <a href="/music/">Music</a>                                             
        <a href="/movie/">Movies</a>                                            
        <a href="/games/">Games</a>                                             
        <a href="/used/">Used</a>     
    </div>
  
    <div class="content">
        {% block content %}
            Congrats, you're using a template. Looks like you need to override block content, though.
        {% endblock %}
    </div>
    <div class="footer">
        {% if usergreet %}
            <a href="/account/logout/">Logout</a>
        {% endif %}
        <a href="/ordertrack/">Order Status</a>
        <a href="/cart/">Cart</a>
        <a href="/stores/">Stores</a>
        <a href="/help/">Help</a>
        <p>Copyright 2012 For Your Harmonics.</p>
        <p>Please do not try ordering anything from this website, it's non-functional!</p>
    </div>
  </div>
</body>
</>
