{% extends "advert_base.html" %}

{% block content %}
    <div class="login">
    {% if usergreet %}
        <h3>Confirm Order</h3>
        <table>
            <tr>
                <th>ProductID</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>

                <th>Total Price</th>
            </tr>
            {% for item in cart.items %}
            <tr>
                <td>{{ item.0 }}</td>
                <td>{{ item.1.0 }}</td>
                <td>{{ item.1.1 }}</td>
                <td>{{ item.1.2 }}</td>
                <td>{{ item.1.3 }}</td>
            </tr>
            {% endfor%}
        </table>
    <form action="/ordercomplete/" method="GET">
    {% csrf_token %}    
    <input type="hidden" value={{cart.items}} name="cart">
    <div>
    Address One: {{addOne}}
    </div>
    <div>
    Address Two: {{addTwo}}
    </div>
    <div>
    City: {{city}}
    </div>
    <div>
    State: {{state}}
    </div>
    <div>
    Zip: {{zipcode}}
    </div>
    <input type="submit" value="Confirm order">
    </form>
    {% else %}
        <p>Sorry, but you must be logged in to view your cart!</p>
    {% endif %}
    </div>
{% endblock %}
