{% extends "category_base.html" %}
    
{% block categories %}
    <p><a href="/music/">Music</a></p>                                          
    <p><a href="/movie/">Movies</a></p>                                              
    <p><a href="/games/">Games</a></p>                                          
    <ul> 
      <li>New Releases</li>
      <li>PS3</li>
      <li>Xbox</li>
      <li>Nintendo Wii</li>
      <li>handhelds</li>
    </ul> 
    <p><a href="/used/">Used</a></p>         
{% endblock %}

{% block content %}
  <h4>Games</h4>                                                                 
  <p>                                                                           
    <hr />  
    {% for product in Product %}
        {% if product.ProductType_id == 3 %}
            <div class="Product">
            <h3>{{ product.ProductName}}</h3>
            <p>Price: {{ product.ProductPrice}}</p>
            <p>Description: <br/>{{ product.ProductDescription}}</p>
            </div>
            <hr />
        {% endif %}
    {% endfor %}
    </p> 
{% endblock %} 
