{% extends "category_base.html" %}
    
{% block categories %}
    <p><a href="/Music/">Music</a></p>                                          
    <p><a href="/Movies/">Movies</a></p>                                              
    <p><a href="/Games/">Games</a></p>                                          
    <ul> 
      <li>New Releases</li>
      <li>PS3</li>
      <li>Xbox</li>
      <li>Nintendo Wii</li>
      <li>handhelds</li>
    </ul> 
    <p><a href="/Used/">Used</a></p>         
{% endblock %}

{% block content %}
  <h4>Games</h4>                                                                 
  <p>                                                                           
    <hr />  
    {% for product in Product %}
        {% if product.ProductType_id == 3 %}
            <div class="itemlink">
            <h3><a href="/Games/{{product.UPCCode}}/">{{ product.ProductName}}</a></h3>
            <p>Price: {{ product.ProductPrice}}</p>
            <p>Description: <br/>{{ product.ProductDescription}}</p>
            </div>
            <hr />
        {% endif %}
    {% endfor %}
    </p> 
{% endblock %} 
