{% extends "advert_base.html" %}
{% block content %}
<h3>Login!</h3>
<form action="" method="post">
<!-- use csrf decorator if using iframes -->
{% csrf_token %}
{% if form.errors %}<p> Please correct the following fields.</p>{% endif %}
<div class="register_div">
    <!-- line only shows up if username is invalid or taken -->
    {% if form.username.errors %}<p class="error">{{ form.username.errors }}</p>{% endif %}
    <p><label for="username"{% if form.username.errors %} class="error"{% endif %}>Username:</label></p>
    <p>{{ form.username }}</p>
</div>
<div class="register_div">
    <!-- line only shows up if username is invalid or taken -->
    {% if form.password.errors %}<p class="error">{{ form.password.errors }}</p>{% endif %}
    <!-- line shows up if invalid password -->
    {% if bad_password %}<p class="error"> Invalid Password!</p>{% endif %}
    <p><label for="password"{% if form.password.errors %} class="error"{% endif %}>Password:</label></p>
    <p>{{ form.password }}</p>
</div>
<p><input type="submit" alt="register" /></p>
</form>
<div class="itemlink">
<p>If you do not have an account, you can create one here: <a href="/account/register">Register</a>
</div>
{% endblock %}
