{% extends "category_base.html" %}
{% block categories %}
    <p><a href="/music/">Music</a></p>
    <p><a href="/movie/">Movies</a></p>
    <ul>
      <li>New Releases</li>
      <li>Action</li>
      <li>Comedy</li>

      <li>Documentary</li>
      <li>Drama</li>
      <li>Horror</li>
    </ul>
    <p><a href="/games/">Games</a></p>
    <p><a href="/used/">Used</a></p>
{% endblock %}


{% block content %}
  <h4>Movies</h4>
  <p>
    <hr />
    {% for product in Product %}
        {% if product.ProductType_id == 1 %}
            <div class="Product">
            <h3>{{ product.ProductName}}</h3>
            <p>Price: {{ product.ProductPrice}}</p>
            <p>Description: <br/>{{ product.ProductDescription}}</p>
            </div>
            <hr />
        {% endif %}
    {% endfor %}
  </p>
{% endblock %}
