{% extends "category_base.html" %}
{% block categories %}    
    <p><a href="/Music/">Music</a></p>
    <ul>
      <li>New Releases</li>
      <li>Rap</li>
      <li>Rock</li>
      <li>Country</li>
      <li>Techno</li>
    </ul>
    <p><a href="/Movies/">Movies</a></p>                                              
    <p><a href="/Games/">Games</a></p>                                          
                                                                                
    <p><a href="/Used/">Used</a></p>                                            
{% endblock %}

{% block content %}  
  <h4>Music</h4>                                                                 
  <p>                                                                           
    <hr />               
    {% for product  in Product %}
        {% if product.ProductType == "Music" %}
            <div class="itemlink">
            <h3><a href="/Music/{{product.UPCCode}}/">{{ product.ProductName}}</a></h3>
            <p>Price: {{ product.ProductPrice}}</p>
            <p>Description: <br/>{{ product.ProductDescription}}</p>
            </div>
            <hr />
        {% endif %}
    {% endfor %}
 
  </p>
    
{% endblock %}
