{% extends "category_base.html" %}
{% block categories %}    
    <p><a href="/music/">Music</a></p>
    <ul>
      <li>New Releases</li>
      <li>Rap</li>
      <li>Rock</li>
      <li>Country</li>
      <li>Techno</li>
    </ul>
    <p><a href="/movie/">Movies</a></p>                                              
    <p><a href="/games/">Games</a></p>                                          
                                                                                
    <p><a href="/used/">Used</a></p>                                            
{% endblock %}

{% block content %}  
  <h4>Music</h4>                                                                 
  <p>                                                                           
    <hr />               
    {% for product  in Product %}
        <div class="Product">
        <h3>{{ product.ProductName}}</h3>
        <h4>Price: {{ product.ProductSellPrice}}</h4>
        <h4>Amount in Stock: {{ product.AmountInStock}}</h4>
        <p>Description: <br/>{{ product.ProductDescription}}</p>
        </div>
        <hr />
    {% endfor %}
 
  </p>
    
{% endblock %}
