{% extends "category_base.html" %}
{% block categories %}
    <p><a href="/music/">Music</a></p>                                          
    <p><a href="/movie/">Movies</a></p>                                       
    <p><a href="/games/">Games</a></p>                                       
    <p><a href="/used/">Used</a></p>    
      <ul>
        <li>Games</li>
        <li>Blueray</li>
        <li>dvd</li>
        <li>music</li> 
      </ul>                                     
 {% endblock %}
 {% block content %} 
  <h4>Used</h4>                                                                 
  <p>                                                                           
    <hr />     
    {% for product  in Product %}
        {% if product.ProductType_id == 3 %}
            <div class="Product">
            <h3>{{ product.ProductName}}</h3>
            <p>Price: {{ product.ProductPrice}}</p>
            <p>Description: <br/>{{ product.ProductDescription}}</p>
            </div>
            <hr />
        {% endif %}
    {% endfor %}
  </p>
 {% endblock %}
