<!DOCTYPE/ PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/; charset=utf-8" />
<title>F.Y.H. - Music, Movies, Games, and more!</title>
<style type="text/css">
@import url("/static/style.css");
</style>
</head>

<body>

<div class="container">
<div class="headertable" id="HeaderLinks">
  	<a href="/cart/">Cart</a>
    <a href="/account/login/">Login</a>
    <a href="/account/">My Account</a>
    <a href="/track/">Order Status</a>
    <a href="/wishlist/">Wishlist</a>
    <a href="/help/">Help</a>
    </div>
  <div class="header"><a href="/"><img src="/static/logo.gif" alt="" name="logo" width="163" height="81" id="logo" style="background-color: #C6D580; display:block;" /></a> 


</div>                                                                          
                                                                                
<div class="sidebar1">                                                          
    <p><a href="/music/">Music</a></p>                                          
    <p><a href="/dvd/">DVD</a></p>                                              
    <p><a href="/movie/">Movies</a></p>                                       
    <p><a href="/used/">Used</a></p>    
      <ul>
        <li>Games</li>
        <li>Blueray</li>
        <li>dvd</li>
        <li>music</li> 
      </ul>                                     
    </div>                                                                      
    <div class="itemlink" align="right">                                        
    <a href="/music/">Music</a>                                                 
    <a href="/movie/">Movie</a>                                              
    <a href="/games/">Games</a>                                                 
                                                                                
    <a href="used/">Used</a>                                                    
</div>                                                                          
<div class="content">                                                           
  <h4>Used</h4>                                                                 
  <p>                                                                           
    <hr />     
    {% for product  in Products %}
        {% if product.ProductType == "Used" %}
        <div class="Product">
        <h3>{{ product.ProductName}}</h3>
        <h4>Price: {{ product.ProductSellPrice}}</h4>
        <h4>Amount in Stock: {{ product.AmountInStock}}</h4>
        <p>Description: <br/>{{ product.ProductDescription}}</p>
        </div>
        <hr />
        {% endif %}
    {% endfor %}
  </p>
    
  </div>

  <div class="footer">
    <a href="/ordertrack/">Order Status</a>
    <a href="/account/login/">Login</a>
    <a href="/cart/">Cart</a>
    <a href="/stores/">Stores</a>
    <a href="/help/">Help</a>
    <p>Copyright 2012 For Your Harmonics.</p>
    <p>Please do not try ordering anything from this website, it's non-functional!</p>
    </div>
  </div>
  
</body>
</>
